@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c38cc8;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 10px;
    text-align: center;
    font-family: 'Gloria Hallelujah', 'Courier New';
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    color: rgb(244, 244, 244);
    text-shadow: 3px 3px 6px rgb(171, 21, 169);
}

.toggle{
    margin-left: 18px;
    padding: 1.6rem;
    border-radius: 50%;
    outline: 0;
    border: 0;
    box-shadow: 3px 3px 6px rgb(154, 21, 152);
}

.toggle:hover{
    opacity: 0.7;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.container{
    margin: 20px auto;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-gap: 2px;
    box-shadow: rgba(107, 5, 108, 0.749) 0px 7px 29px 0px;
}

.container.no-gap{
    grid-gap: 0;
}

.grid{
    background-color: #f6dcf6;
    transition: 0.35s ease;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.btn{
    margin: 5px;
    padding: 0.5rem;
    width: 7.7rem;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    white-space: nowrap;
    font-family: 'Gloria Hallelujah', 'Courier New';
    letter-spacing: 0.09rem;
    border-radius: 20px;
}

.btn:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
    opacity: 0.7;
}


.custom{
    width: 10rem;
}

/*Scrollbar*/
.scrollbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.scrollbar-container p{
    font-family: 'Gloria Hallelujah', 'Courier New';
    letter-spacing: 0.09rem;
    font-size: 1.25rem;
    padding: 7px;
}


#scrollbar{
    width: 13rem;
    padding: 2.1px;
    appearance: auto;
    -webkit-appearance: none;
    background-color: #fefefe;
    border-radius: 30px;
    height: 2.7px;
}

@media(max-width:768px){
    .container{
        width: 400px;
        height: 400px;
    }

    h1{
        font-size: 1.7rem;
    }

    .intro{
        margin: 5px;
    }

    .toggle{
        padding: 1.4rem;
    }

    .btn{
        padding: 0.4rem;
        width: 7.5rem;
        font-size: 1rem;
    }

    .custom{
        width: 9rem;
    }
}

@media(max-width:450px){
    .container{
        width: 300px;
        height: 300px;
    }
}

@media(max-width:350px){
    .container{
        width: 200px;
        height: 200px;
    }

    h1{
        font-size: 1.2rem;
    }

    .toggle{
        padding: 1rem;
    }

    .btn{
        padding: 0.2rem;
        width: 7rem;
        font-size: 0.8rem;
    }

    .custom{
        width: 8rem;
    }
}
